@media screen and (max-width:575px){
  .services-icon{
    width: 80px;
    height: 80px;
    font-size: 30px !important;
    line-height: 80px;
    background-color: #f4f4f4;
    transition: all .5s;
  }
  .bottom-fix{
    bottom: 0;
  }
}

@media screen and (min-width:576px) and (max-width:767px){
  .services-icon{
    width: 80px;
    height: 80px;
    font-size: 30px !important;
    line-height: 80px;
    background-color: #f4f4f4;
    transition: all .5s;
  }
  .bottom-fix{
    bottom: 0;
  }
}

@media screen and (min-width:768px) and (max-width:991px){
  .services-icon{
    width: 80px;
    height: 80px;
    font-size: 30px !important;
    line-height: 80px;
    background-color: #f4f4f4;
    transition: all .5s;
  }
}

@media screen and (min-width:992px) and (max-width:1199px){
  #nav-li{
    margin-left: 300px !important;
  }

  .services-icon{
    width: 70px;
    height: 70px;
    font-size: 25px !important;
    line-height: 70px;
    background-color: #f4f4f4;
    transition: all .5s;
  }
  
}
@media screen and (min-width:1200px) and (max-width:1399px){
    #nav-li{
      margin-left: 400px !important;
    }

    .services-icon{
      width: 70px;
      height: 70px;
      font-size: 25px !important;
      line-height: 70px;
      background-color: #f4f4f4;
      transition: all .5s;
    }
    
}
@media screen and (min-width:1400px){
    #nav-li{
      margin-left: 500px !important;
    }

    .services-icon{
      width: 70px;
      height: 70px;
      font-size: 25px !important;
      line-height: 70px;
      background-color: #f4f4f4;
      transition: all .5s;
    }
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.montserrat-font{
font-family: 'Montserrat', sans-serif;
}

.descript-style{
  font-family: 'Montserrat regular', sans-serif;
  text-transform: capitalize;
  letter-spacing: .15em;
  height: 70px;
  line-height: 70px;
  text-align: center;
  top: 170px;
  }

  .descript-style h1{
    max-width: max-content;
  }

.typewriter1{
width: max-content;
position: relative;
left:0;
line-height: 70px;
color: #fff;
/* visibility: hidden; */
overflow: hidden;
border-right: 1px solid #ffffff;
white-space: nowrap;
animation:
typing 2s steps(20,end) 1s infinite alternate,
blink-caret 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  }
  
  @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffffff }
  }

/* .typewriter1 span:nth-child(1) {
	animation: typing 0.7s steps(5), typingReverse 0.7s steps(5) 0.7s, blink-wait 1s step-end 1 1.4s, blink-caret 0.6s step-end infinite;
}
.typewriter1 span:nth-child(2) { 
	animation: typing 0.7s steps(5) 2.4s, typingReverse 0.7s steps(5) 3.1s, blink-wait 1s step-end 1 3.8s, blink-caret 0.6s step-end infinite;
}
.typewriter1 span:nth-child(3) { 
	animation: typing 0.7s steps(5) 4.8s, typingReverse 0.7s steps(5) 5.5s, blink-wait 1s step-end 1 6.2s, blink-caret 0.6s step-end forwards;
} */

/* @keyframes typing {
  from { width: 0; visibility: hidden; }
  to { width: 100%; visibility: visible; color: #ffffff; }
} */

/* @keyframes typingReverse {
  from { width: 100%; visibility: visible; color: #ffffff; }
  to { width: 0; }
}

/@keyframes blink-wait {
  from, to { width: 0; visibility: hidden; }
  30%, 60% { width: 5px; visibility: visible; }
} */

/* @keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #ffffff; }
} */


.nav-under{
  color:#ffffff !important;
}

.nav-under:hover{
  color: #c7c4c4 !important;
}

.nav-under::after{
  content: "";
  display: block;
  border-bottom: 3px solid #c7c4c4;
  transform: scaleX(0);
  transform-origin: center;
  -ms-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.nav-under:hover::after{
  transform: scaleX(1);
}

.main-img{
    height: 100vh;
    background-image: url(../images/woman-sitting-mountain-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.main-img-fade{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}


.hello-style{
  height: 100px;
    font-family: 'Montserrat', sans-serif;
    line-height: 100px;
    font-weight: 800px; 
    text-align: center;
}

.social-main {
  height: 30px;
  }
  
  .social-main-in {
    list-style-type: none;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  
  
  .social-main-link{
    width: 30px;
    height: 30px;
    text-decoration:none;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .social-main-link:hover{
    background-color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
  }


  .gap{
    height: 20px;
  }
  .about{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }

  .titr{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .myskill-item {
    height: 25px !important;
  }

.buton-color1 {
  background-color: #1c1c1c;
  color: #eee;
  text-decoration: none;
  transition: all .5s;
}

.buton-color2 {
  background-color: transparent;
  color: #1c1c1c;
  text-decoration: none;
  transition: all .5s;
}

.buton-color2:hover {
  background-color: #1c1c1c;
  color: #eee;
}

.buton-color1:hover {
  background-color: transparent;
  color: #1c1c1c;
}

.services-height{
  height: 300px !important;
}

.services-title h3{
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


.services-item{
  text-align: center;
}

.services-item h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;

}

.services-item p{
  font-weight: 600;

}  

.services-icon:hover{
  background: #1c1c1c;
  color: #eee;
}

.Portfolio {
  width: 100%;
  height: 50vh;
  overflow: hidden;
} 

.Portfolio-cover {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  display: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all .5s;
  
  
}

 /* .Portfolio-cover::after{
  content: "";
  display: block;
  transform: translateY(0px);
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.Portfolio-cover:hover::after{
  transform: translateY(10px);
} */

.Portfolio:hover .Portfolio-cover{
display: block;
transform: translateY(0);
}

.portfo-item a{
  transition: all .5s;
}

.portfo-item a:hover{
  color: #000000;
  background-color: #ffffff;
 
}

.portfolio-text{
  font-size: 12px;
font-weight: 700;
letter-spacing: 2px;
position: relative;
transform: translateY(-15px);
transition: all .5s;
}


.copy-r{
  font-family: 'Poppins', sans-serif;
}

.button-hover{
background-color: #000000 !important;
color: #ffffff !important;
transition: all .5s;
}

.button-hover:hover{
  background-color: transparent !important;
  color: #343434 !important;
  border:1px solid #000000 !important;
}

.list-style{
  list-style-type: none;
}

.portfo-under{
color:black;
}

.portfo-under:hover{
  color: #6b6969;
}

.portfo-under::after{
  content: "";
  display: block;
  border-bottom: 3px solid #6b6969;
  transform: scaleX(0);
  transform-origin: center;
  -ms-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.portfo-under:hover::after{
  transform: scaleX(1);
}

.form-color{
  background-color: rgba(192, 186, 186, 0.3);
}

.blog-h img{
  -ms-transition: transform 300ms linear 0s;
  -moz-transition: transform 300ms linear 0s;
  -webkit-transition: transform 300ms linear 0s;
  -o-transition: transform 300ms linear 0s;
  transition: transform 300ms linear 0s;
}

.blog-h img:hover{
  transform: scale(1.2);
}

.contact{
  top:30px;
}

.outline-f{
  outline: 0;
}


/* *.typing-words span {
  max-width: max-content;
    text-indent: 50px; 
    position: absolute;
	overflow: hidden;
	white-space: nowrap;
    visibility: hidden;
    border-right: 4px solid transparent;
    
}
/* steps is number of chars-1 */
/* .typing-words span:nth-child(1) {
	animation: typing 0.7s steps(5), typingReverse 0.7s steps(5) 0.7s, blink-wait 1s step-end 1 1.4s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(2) { 
	animation: typing 0.7s steps(5) 2.4s, typingReverse 0.7s steps(5) 3.1s, blink-wait 1s step-end 1 3.8s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(3) { 
	animation: typing 0.7s steps(5) 4.8s, typingReverse 0.7s steps(5) 5.5s, blink-wait 1s step-end 1 6.2s, blink-caret 0.6s step-end forwards;
}  */
/* .typing-words span:nth-child(4) { 
	animation: typing 0.7s steps(5) 7.2s, typingReverse 0.7s steps(5) 7.9s, blink-wait 1s step-end 1 8.5s, blink-caret 0.6s step-end infinite;
}
/* pause on last word, end cursor blink */
/* .typing-words span:nth-child(5) {  
	animation: blink-caret 0.6s step-end 7 9.5s, typing 1s steps(7) 9.5s forwards;
}  */


/* .wrapper .static-txt{
  height: 110px;
  line-height: 110px;
}

.wrapper .dynamic-txts{
  margin-left: 5px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;

}

.dynamic-txts li{
  list-style-type: none;
  position: relative !important;
  top:0 !important;
animation:slide 6s steps(4) infinite;

}

@keyframes slide {
  100%{
   top: -360px !important;
  }
}
.typewriter2{
  width: max-content;
  line-height: 80px;
  color: #fff;
  
  overflow: hidden;
  border-right: 1px solid #ffffff;
  white-space: nowrap;
  animation:
  typing 3s steps(20,end) 10s infinite alternate,
  blink-caret 1s step-end infinite;
  }

  .typewriter3{
    width: max-content;
    line-height: 80px;
    color: #fff;
    
    overflow: hidden;
    border-right: 1px solid #ffffff;
    white-space: nowrap;
    animation:
    typing 4s steps(20,end) 10s infinite alternate,
    blink-caret 1s step-end infinite;
    }*/


